.base-title,
.base-title-h1,
.base-subtitle,
.base-text {
  color: #132D55;
}

.base-title,
.base-title-h1, {
  font-weight: 800;
}

.base-title {
  font-size: 48px;
  line-height: 60px;
}

.base-title-h1 {
  font-size: 80px;
  line-height: 100px;
}


.base-subtitle {
  font-size: 24px;
  line-height: 29px;
}

.base-text {
  font-size: 20px;
  line-height: 26px;
  max-width: 495px;
}
