@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local("Roboto"),
    url('../fonts/Gilroy-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local("Roboto"),
    url('../fonts/Gilroy-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local("Roboto"),
    url('../fonts/Gilroy-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local("Roboto"),
    url('../fonts/Gilroy-Extrabold.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

body {
  color: #242424;
  font-family: 'Gilroy', sans-serif;
  background: #DFE6F8;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1108px;
}

@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}


@media (min-width: 1280px) {

}


@media (min-width: 1440px) {

}
